<div class="row">
    <div>
    <img src="../../../assets/perfilfoto.jpg" class <img class="img-fluid" src="" alt="">
</div>
<div> 
    <p>Alejandro Orlandini</p>
    <p>Full stack developer Jr</p>
</div>
<div>
    <span>
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Culpa, repudiandae quisquam ipsam cupiditate omnis, vero, tempora dolorum aspernatur 
            voluptate quam sequi voluptatem placeat vel dolore consequatur nesciunt? Adipisci, odio quos.</p>
    </span>
</div>
