<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 "
    <img src="../../../assets/perfilfoto-edit1.png"
    class="img-fluid">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
   <p>Alejandro Orlandini</p>
   <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
     <span>
        <hi>Acerca de mí</hi>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Quisquam, dignissimos voluptatum aliquam repellat, 
         harum iure odit maxime, 
         consectetur molestias natus quaerat eligendi illo ex dolorum
         magni perspiciatis deleniti explicabo quas.
        </p>
    </span>
</div>
</div>
