<div class="row">
    <div class="col-xs-12 col-sm-2 col-lg-2">
    <img src="../../../assets/perfilfoto.jpg" class <img class="<img class="img-thumbnail" src="" alt=""
</div> 
    <div class="col-xs-12 col-sm-2 col-lg-2">
    <p>Alejandro Orlandini</p>
    <p>Full stack developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-lg-8">
    <span>
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Culpa, repudiandae quisquam ipsam cupiditate omnis, vero, tempora dolorum aspernatur 
            voluptate quam sequi voluptatem placeat vel dolore consequatur nesciunt? Adipisci, odio quos.</p>
    </span>
</div>
